.card{
    background-color: azure;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease;
}

.imagenContainer{
    width: 350px;
  
    background-color: bisque;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nombre{
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin-bottom: 5px;
    text-align: center;
}

.precio{
    font-size: 12px;
    font-weight: 700;
    color: blueviolet;
    margin-bottom: 5px; 
}

.stock{
    font-size: 11px;
    color: #6666;
    margin-bottom: 12px;

}

.cantidadContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

qtyButton{
    background-color: aliceblue;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.loading{
    display: flex;
    justify-content: center;
}